@import "tailwindcss";



html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #bbb3b3;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
